<div class="relative w-[50px] h-[106px]">
  <div
    class="absolute left-1/2 -translate-x-1/2 h-full"
    [ngClass]="interval === 'R' ? 'bg-[#E6FF81]' : 'bg-[#E3EFF1]'"
    [style]="{ width: 6 - stringNumber + 'px' }"
  ></div>
  @if(isIntervalIncluded() && caseNumber <= getMaxCaseNumber()){
  <div
    class="absolute h-[72px] w-[44px] rounded-[200px] top-[17px] left-1/2 -translate-x-1/2 flex flex-col justify-center"
    [ngClass]="
      interval === 'R'
        ? 'text-[24px] leading-7 bg-[#E6FF81]'
        : interval === 'm3' || interval === 'M7'
        ? 'text-[18px] leading-6 bg-[#101013] text-[#E3EFF1] border-[#E3EFF1] border-2'
        : 'text-[24px] leading-7 bg-[#E3EFF1]'
    "
  >
    <div class="font-semibold text-center">
      {{ interval }}
    </div>
    <div class="font-semibold text-[14px] leading-4 text-center text-[#535B86]">
      {{ note.split("-")[0] }}
    </div>
    @if(note.split("-")[1]){
    <div class="font-semibold text-[14px] leading-4 text-center text-[#535B86]">
      {{ note.split("-")[1] }}
    </div>
    }
  </div>
  }
</div>
