<main class="flex flex-col w-[360px] h-[644px] bg-[#101013] font-medium">
  <nav class="flex justify-between px-4 py-2 w-full">
    <a href="/" class="text-[#b3bdc7] font-normal">Acorde</a>
    <a href="/" class="text-[#b3bdc7] font-normal">Info</a>
  </nav>

  <section class="px-4 flex flex-col">
    <!-- guitar arm -->
  </section>

  <div class="flex">
    <input
      class="hidden-radio"
      type="radio"
      id="string-0"
      name="starting-string"
      value="0"
    />
    <label for="string-0" class="custom-radio"></label>
    <input
      class="hidden-radio"
      type="radio"
      id="string-1"
      name="starting-string"
      value="1"
    />
    <label for="string-1" class="custom-radio"></label>
    <input
      class="hidden-radio"
      type="radio"
      id="string-2"
      name="starting-string"
      value="2"
    />
    <label for="string-2" class="custom-radio"></label>
  </div>

  <div class="flex px-4 text-[#b3bdc7]">
    <button
      class="rounded-[100px] h-[64px] w-full px-1 py-3 border border-[#9498af]"
    >
      Minor
    </button>
    <button
      class="rounded-[100px] h-[64px] w-full px-1 py-3 border border-[#9498af]"
    >
      7 Major
    </button>
  </div>

  <div class="flex flex-col">
    <div class="flex pl-4 relative text-[14px] leading-3">
      <button class="shrink-0 grow-0 text-center p-4 w-[42px] h-[42px]">
        <svg
          width="10"
          height="10"
          viewBox="0 0 10 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.21134 10L5 6.23037L8.78866 10L10 8.79581L6.21134 5L10 1.20419L8.78866 0L5 3.76963L1.21134 0L0 1.20419L3.78866 5L0 8.79581L1.21134 10Z"
            fill="#B3BDC7"
          />
        </svg>
      </button>
      <div class="z-10 px-2 py-[14px] min-w-[60px] text-center text-[#B3BDC7] bg-gradient-to-r from-[#101013] from-90% ">
        Key
      </div>
      <div class="flex overflow-hidden w-full -translate-x-[8px]">
        <ul
          #scrollable
          class="flex shrink-0 grow-0 w-full overflow-x-scroll no-scrollbar"
        >
          <li>
            <button
              class="px-2 py-[14px] rounded-3xl h-[42px] min-w-[60px] bg-[#E6FF81] text-[#1D1F2C]"
            >
              C
            </button>
          </li>
          <li>
            <button
              class="px-[14px] py-[14px] rounded-3xl h-[42px] bg-[#1D1F2C] text-[#B3BDC7] flex gap-1 items-center"
            >
              <span>C#</span>
              <img src="dot.svg" alt="dot" />
              <span>Db</span>
            </button>
          </li>
          <li>
            <button
              class="px-[14px] py-[14px] rounded-3xl h-[42px] bg-[#1D1F2C] text-[#B3BDC7] flex gap-1 items-center"
            >
              <span>C#</span>
              <img src="dot.svg" alt="dot" />
              <span>Db</span>
            </button>
          </li>
          <li>
            <button
              class="px-[14px] py-[14px] rounded-3xl h-[42px] bg-[#1D1F2C] text-[#B3BDC7] flex gap-1 items-center"
            >
              <span>C#</span>
              <img src="dot.svg" alt="dot" />
              <span>Db</span>
            </button>
          </li>
          <li>
            <button
              class="px-[14px] py-[14px] rounded-3xl h-[42px] bg-[#1D1F2C] text-[#B3BDC7] flex gap-1 items-center"
            >
              <span>C#</span>
              <img src="dot.svg" alt="dot" />
              <span>Db</span>
            </button>
          </li>
        </ul>
      </div>
      <div
        class="absolute right-0 h-full w-4 bg-gradient-to-l from-[#101013]"
      ></div>
    </div>
    <div class="flex px-4">
      <button
        class="w-[64px] h-[64px] rounded-3xl border border-[#E6FF81] text-[#E6FF81] bg-[#3C3F2F]"
      >
        Key
      </button>
    </div>
  </div>
</main>
